{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Self Checkout</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </header>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    main>.container {
      padding: 60px 15px 0;
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
  <script src="{% static 'js/html5-qrcode.min.js' %}"></script>

</head>

<body>

  <div class="col-lg-12 mx-auto p-3 py-md-5">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom d-flex ">
      <div class="container-fluid navbar-text">
        <span class="fs-1 fw-bold">Library Self-Checkout</span>
      </div>
    </nav>

    <main>
      <br /><br />
      <hr />
      {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link fs-3 fw-bold active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Step 1</button>
          <button class="nav-link fs-3 disabled" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Step 2</button>
          <button class="nav-link fs-3 disabled" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Step 3</button>
          <button class="nav-link fs-3 disabled" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Step 4</button>
        </div>
      </nav>

      <div class="tab-content border border-top-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="container" style="height: 410px;">
            <div class="row">
              <div class="col-6">
                <p><br>
                  <h1>
                    <span class="fw-light">Scan the</span>
                    <span class="fw-bold">item barcode</span>
                    <br>
                    <span class="fw-light">to proceed!</span>
                  </h1><br>
                </p>
              </div>
              <div class="col-6">
                <p>
                  <div id="qr-reader" style="width:500px">Scanner Loading...</div>
                  <div id="qr-reader-results"></div>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>

  <br>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted align-middle">Ron Bulaon &middot; &copy; 2021</span>
    </div>
  </footer>


  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script>
    var resultContainer = document.getElementById('qr-reader-results');
    var lastResult, countResults = 0;

    function onScanSuccess(decodedText, decodedResult) {
      if (decodedText !== lastResult) {
        ++countResults;
        lastResult = decodedText;
        // Handle on success condition with the decoded message.
        console.log(`Scan result ${decodedText}`, decodedResult);
      }
    }

    // This method will trigger user permissions
    Html5Qrcode.getCameras().then(devices => {
      /**
       * devices would be an array of objects of type:
       * { id: "id", label: "label" }
       */
      if (devices && devices.length) {
        var cameraId = devices[0].id;
        console.log(cameraId)

        const html5QrCode = new Html5Qrcode("qr-reader");

        html5QrCode.start(
            cameraId, // retreived in the previous step.
            {
              fps: 10, // sets the framerate to 10 frame per second
              qrbox: 250 // sets only 250 X 250 region of viewfinder to
              // scannable, rest shaded.
            },
            qrCodeMessage => {
              // do something when code is read. For example:
              console.log(`QR Code detected: ${qrCodeMessage}`);
              html5QrCode.stop()
              window.location.href = window.location.origin + '/book/'.concat(`${qrCodeMessage}`);
              console.log(`--> ${qrCodeMessage}`);
            },
            errorMessage => {
              // parse error, ideally ignore it. For example:
              console.log(`QR Code no longer in front of camera.`);
            })
          .catch(err => {
            // Start failed, handle it. For example,
            console.log(`Unable to start scanning, error: ${err}`);
          });


      }
    }).catch(err => {
      // handle err
    });
  </script>
</body>

</html>